<h1>My tasks</h1>
<ul>
    <% @tasks.each do |task| %>
      <% if task.completed == true %>
      <li><i class="far fa-check-square"></i>  <%= link_to task.title, task_path(task) %>
       <%= link_to task_path(task), method: :delete, data: { confirm: 'Are you sure?' } do %> <i class="fas fa-trash"></i> <%end%></li>
      <% else %><li><i class="far fa-square"></i>  <%= link_to task.title, task_path(task) %>
      <%= link_to task_path(task), method: :delete, data: { confirm: 'Are you sure?' } do %> <i class="fas fa-trash"></i> <%end%></li>
      <% end %>
    <% end %>
</ul>

<%= link_to ' + Add a new task', '/tasks/new' %>
